<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Bank App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h2>Witaj w panelu głównym!</h2>
        <div id="balanceInfo">
            <h3>Saldo na Twoim koncie:</h3>
            <p id="balanceAmount">0 PLN</p>
        </div>
        <form id="checkBalanceForm" action="/check_balance" method="POST">
            <button type="submit">Sprawdź saldo</button>
        </form>
        <div id="message"></div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>
